extends layout_dashboard

block content

  div(class="row")
    div(class="col-sm-12 heading")
      Mailer Tracking Dashboard
  div(class="row")
    div(class="col-sm-12 center")
      Choose App
      form(action="#{actionUrl}" method="GET")
        select(name="appid")
          each appName, appId in appIds
            option(value=appId) #{appId} : #{appName}
        input(type="submit" value="Go")
